{% block image_widget %}
    {% spaceless %}
    {% set funcname = 'readInput' ~ form.vars.id %}
    {% set varContentType = '__ct' ~ form.vars.id %}
    {% set imageId = '__img-' ~ form.vars.id %}
    {% set cropButtonId = '__crop-' ~ form.vars.id %}
    {% set imageContainerId = '__crop-' ~ form.vars.id %}
    {% set origImageId = '__crop-orig-' ~ form.vars.id %}

    {{ block('form_widget') }}
    {% if form.vars.enable_preview %}
        <div 
            id="{{ imageContainerId }}"
            class="{% spaceless %}
                sf-image-preview 
                {{ not form.vars.data ? 'hide' : '' }}
            {% endspaceless %}" 
            >
            <img 
                id="{{ imageId }}" 
                src="{{ form.vars.data }}" 
                style="{% spaceless %}
                    {% if form.vars.preview_width %}max-width: {{ form.vars.preview_width}};{% endif %}
                    {% if form.vars.preview_height %}max-heigth: {{ form.vars.preview_height}};{% endif %}
                {% endspaceless %}" 
                />
                
            {% if form.vars.enable_crop %}
                <div>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.4/cropper.min.js"></script>
                    <link href="https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.4/cropper.min.css" type="text/css" rel="stylesheet" />
                    <a href="#" id="{{ cropButtonId }}">{{ 'button.crop_image'|trans({}, form.vars.translation_domain|default('SfFormsBundle')) }}</a>
                </div>
            {% endif %}
        </div>
    {% endif %}
    
    {% if form.vars.enable_crop %}
    <div class="modal" id="__dialog-{{ form.vars.id}}">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                    <h4 class="modal-title">{{ 'modal_title.crop_image'|trans({}, form.vars.translation_domain|default('SfFormsBundle')) }}</h4>
                </div>
                <div class="modal-body">
                    <div>
                        {% set contents = form.vars.data %}
                        {% if is_file(contents) %}
                            {% set contents = file_get_contents(contents)|base64_encode %}
                        {% endif %}
                        <img src="{{ contents }}" id="{{ origImageId }}" style="max-width: 100%" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'button.close_modal'|trans({}, form.vars.translation_domain|default('SfFormsBundle')) }}</button>
                    <button type="button" class="btn btn-primary" id="__dialog-submit-{{ form.vars.id}}">{{ 'button.do_crop_image'|trans({}, form.vars.translation_domain|default('SfFormsBundle')) }}</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <script>
        (function () {
            function validateContentType(type) {
                var mimes = {{ form.vars.image_types|json_encode|raw }};
                return (mimes.indexOf(type) !== -1);
            }
            
            function bindCropper(image) {
                $(image).cropper('destroy');
                $(image).cropper({
                  aspectRatio: {{ form.vars.crop_aspect_ratio|default(1.3) }},
                  minContainerWidth: 800,
                  zoomable: false,
                  viewMode: 1,
                });                
            }

            function resizeImage(dataSrc, __maxWidth, __maxHeight) {
                __maxWidth = parseInt(__maxWidth);
                __maxHeight = parseInt(__maxHeight);
                var canvas = document.createElement("canvas");
                var img = document.createElement("img");
                img.src = dataSrc;
                var ctx = canvas.getContext("2d");
                ctx.drawImage(img, 0, 0);

                var MAX_WIDTH = __maxWidth;
                var MAX_HEIGHT = __maxHeight;
                var width = img.width;
                var height = img.height;

                if (width > height) {
                  if (width > MAX_WIDTH) {
                    height *= MAX_WIDTH / width;
                    width = MAX_WIDTH;
                  }
                } else {
                  if (height > MAX_HEIGHT) {
                    width *= MAX_HEIGHT / height;
                    height = MAX_HEIGHT;
                  }
                }
                canvas.width = width;
                canvas.height = height;
                var ctx = canvas.getContext("2d");
                ctx.drawImage(img, 0, 0, width, height);
                return canvas.toDataURL("image/png");    
            }

            function readInput(input) {
                if (input.files && input.files[0]) {
                    var image = input.files[0];
                    if (!validateContentType(image.type)) {
                        var errorMsg = '{{ form.vars.msg_invalid_format|trans({'%allowed%': form.vars.image_types|join(', ')}, form.vars.translation_domain|default('SfFormsBundle'))|raw }}';
                        alert(errorMsg.replace('%format%', image.type));
                        input.value = "";
                        return;
                    }

                    {% if form.vars.enable_preview %}
                    $('#{{ imageContainerId }}').show();
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        {% if form.vars.enable_crop %}
                        $('#{{ origImageId }}').attr('src', e.target.result);
                        {% endif %}
                            
                        var source = e.target.result;
                        {% if form.vars.preview_height or form.vars.preview_width %}
                        source = resizeImage(
                            source, 
                            '{{ form.vars.preview_width|default(0)|replace('px', '') }}', 
                            '{{ form.vars.preview_height|default(0)|replace('px', '') }}'
                        );
                        {% endif %}
                        $('#{{ imageId }}').attr('src', source);
                        $('#{{ imageContainerId }}').removeClass('loader');
                        $('#{{ imageContainerId }}').removeClass('hide');
                    }
                    reader.readAsDataURL(input.files[0]);
                    {% endif %}
                }
            }

            function initImage(src) {
                var img = new Image();
                img.onload = function () {
                    console.log(img, img.height, img.width);
                    ctx.drawImage(img, 0, 0);
                };
                img.src = src;
            }

            $("#{{ form.vars.id }}").change(function () {
                readInput(this);
            });
            
            {% if form.vars.enable_crop %}
            $('#{{ cropButtonId }}').on('click', function (e) {
                e.preventDefault();
                $('#__dialog-{{ form.vars.id}}').modal('show');
                setTimeout(function () {
                    bindCropper('#{{ origImageId }}');
                }, 200);
                
            });
            $('#__dialog-submit-{{ form.vars.id}}').on('click', function () {
                var data = $('#{{ origImageId }}').cropper('getData');
                $('#{{ form.parent.children[form.vars.crop_save_to].vars.id }}').val(JSON.stringify(data));
                
                var img = $('#{{ origImageId }}')[0];
                var canvas = document.createElement('canvas');
                var ctx = canvas.getContext('2d');
                canvas.width = data.width;
                canvas.height = data.height;
                console.log(data);
                ctx.drawImage(img, data.x, data.y, data.width, data.height, 0, 0, data.width, data.height);
                $('#{{ imageId }}')[0].src = canvas.toDataURL("image/jpeg");    
                $('#{{ origImageId }}')[0].src = canvas.toDataURL("image/jpeg");    
                
                $('#__dialog-{{ form.vars.id}}').modal('hide');
            });
            {% endif %}
        })();
    </script>
    {% endspaceless %}
{% endblock %}