{% block translatable_widget %}
<div class="translatable-widget" id="translatable-{{ form.vars.id }}">
    <ul class="nav nav-tabs">
        {% for index, locale in locales %}
        <li class="{{ not form[locale].vars.valid ? 'has-error' : '' }}{{ index == 0 ? ' active' : '' }}" data-locale="{{ locale }}">
            <a href="#translatable-{{ form.vars.id }}-{{ locale }}" data-toggle="tab">{{ locale }}</a></li>
        {% endfor %}
    </ul>
    <div class="tab-content">
        {% for index, locale in locales %}
        <div class="tab-pane {{ index == 0 ? 'active' : '' }} {{ not form[locale].vars.valid ? 'has-error' : '' }}" id="translatable-{{ form.vars.id }}-{{ locale }}">
        {{ form_widget(form[locale]) }}
        {{ form_errors(form[locale]) }}
        </div>
        {% endfor %}
    </div>
    {{ form_rest(form) }}
</div>
    
<script>
    $('#translatable-{{ form.vars.id }}').find('> .nav li.has-error:first a').click();
    $('#translatable-{{ form.vars.id }} input').on('invalid', function (e) {
        var locale = $(e.target).attr('name').match(/\[([\w\d]+)\]$/)[1];
        $('#translatable-{{ form.vars.id }} ul li[data-locale="' + locale + '"] a').click();
        $(e.target).focus();
    });
</script>
{% endblock %}
